---

#This file configures OSPF protocol on Routers 2 and 3

- hosts: R2
  gather_facts: false
  tasks:
   - name: Begin OSPF Interface configurations for R2
     cisco.ios.ios_ospf_interfaces:
      config:
       - name: GigabitEthernet0/2
         address_family:
          - afi: ipv4
            process:
              id: 1
              area_id: '1'
            
            dead_interval:
              time: 60
                     
       - name: Loopback0
         address_family:
          - afi: ipv4
            process:
              id: 1
              area_id: '1'
            
            dead_interval:
              time: 60
            
            
            
      state: merged


- hosts: R3
  gather_facts: false
  tasks:
   - name: Begin OSPF Interface configurations for R3
     cisco.ios.ios_ospf_interfaces:
      config:
       - name: GigabitEthernet0/1
         address_family:
          - afi: ipv4
            process:
              id: 1
              area_id: '0'
            
            dead_interval:
              time: 60
            
            
            
       - name: Loopback0
         address_family:
          - afi: ipv4
            process:
              id: 1
              area_id: '1'
            
            dead_interval:
              time: 60
            
            
            
       - name: GigabitEthernet0/0
         address_family:
          - afi: ipv4
            process:
              id: 1
              area_id: '1'
            
            dead_interval:
              time: 60
            
            
            
                 
      state: merged

...











